* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #1b1b32;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.App img {
  height: 50px;
  margin-bottom: 20px;
}